<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Laser Tanks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href={{url_for('static', filename='dist/theme/laser.css')}} id="theme">
		<link rel="stylesheet" href={{url_for('static', filename="plugin/highlight/monokai.css")}}>
		 
		<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				namespace = '/Game';

				// Connect to the Socket.IO server.
				// The connection URL has the following format, relative to the current page:
				//     http[s]://<domain>:<port>[/<namespace>]
				var socket = io(namespace);

				// Event handler for server sent data.
				// This updates the leaderboard
				socket.on('render', function(msg) {
					$('#leaderboard').empty();
					$('#leaderboard').append(msg.html);
				});
			});
		</script>
    

		<style>{{style}}</style>
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
				<section id="leaderboard">
				</section>
			</div>
		</div>
	</body>
</html>
