<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{game.type}} Game | Laser Tanks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href={{url_for('static', filename='dist/theme/laser.css')}} id="theme">
		<link rel="stylesheet" href={{url_for('static', filename="plugin/highlight/monokai.css")}}>
		 
		<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				namespace = '/Game';

				// Connect to the Socket.IO server.
				// The connection URL has the following format, relative to the current page:
				//     http[s]://<domain>:<port>[/<namespace>]
				var socket = io(namespace);


				socket.on('playerData', function(msg) {
					var ii;
					socket.emit('response', {'data': msg.players})

					for(ii = 0; ii < msg.players.length; ii++) {
						var rank = msg.players[ii].rank;

						console.log('#player${rank}.header');
						$('p#player1.header').append(msg.players[0].name);
						$('p#player1.score').text(msg.players[0].score);
						$('p#player${rank}.kills').text(msg.players[ii].kills);
						$('p#player${rank}.deaths').text(msg.players[ii].deaths);
					}
				});
			});
		</script>
    

		<style>{{style}}</style>
	</head>

	<body>
		<table class="leaderboard">
			<tr>
				{% if game.numPlayers > 0 %}
				<td>
					<div class="rank" id="player1">
						<div><p class="header" id="player1"></p></div>
						<br>
						<div><p class="score" id="player1"></p></div>
						<br>
						<div><p class="kills" id="player1"></p></div>
						<br>
						<div><p class="deaths" id="player1"></p></div>
						<br>
					</div>
				</td>
					{% if game.numPlayers > 1 %}
					<td>
						<div class="rank" id="player2">
							<div><p class="header" id="player2"></p></div>
							<br>
							<div><p class="score" id="player2"></p></div>
							<br>
							<div><p class="kills" id="player2"></p></div>
							<br>
							<div><p class="deaths" id="player2"></p></div>
							<br>
						</div>
					</td>
						{% if game.numPlayers > 2 %}
						<td>
							<div class="rank" id="player3">
								<div><p class="header" id="player3"></p></div>
								<br>
								<div><p class="score" id="player3"></p></div>
								<br>
								<div><p class="kills" id="player3"></p></div>
								<br>
								<div><p class="deaths" id="player3"></p></div>
								<br>
							</div>
						</td>
							{% if game.numPlayers > 3 %}
								<td>
									<div class="rank" id="player4">
										<div><p class="header" id="player4"></p></div>
										<br>
										<div><p class="score" id="player4"></p></div>
										<br>
										<div><p class="kills" id="player4"></p></div>
										<br>
										<div><p class="deaths" id="player4"></p></div>
										<br>
									</div>
								</td>
							{%endif%}
						{%endif%}
					{%endif%}
				{%endif%}
			</tr>
		</table>
	</body>
</html>
