<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

<title>Laser Tanks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/static/dist/reveal.css">
		<link rel="stylesheet" href="/static/dist/theme/laser.css" id="theme">
		<link rel="stylesheet" href="/static/plugin/highlight/monokai.css">
		<style>{{ style }}</style>
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<section data-auto-animate data-auto-animate-unmatched="slide">
					<table>
						{{game.generateLeaderboard()}}
					</table>
				</section>
			</div>

		</div>

		<script src="/static/dist/reveal.js"></script>
		<script src="/static/plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				center: true,
				loop: true,
				progress: false,
				controlsLayout: 'edges',
				history: false,
				hash: false,
				plugins: [ RevealHighlight ]
			});
		</script>

	</body>
</html>
