<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

<title>Laser Tanks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/static/dist/reveal.css">
		<link rel="stylesheet" href="/static/dist/theme/laser.css" id="theme">
		<link rel="stylesheet" href="/static/plugin/highlight/monokai.css">
		<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/main.css') }}">
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<section data-auto-animate data-auto-animate-unmatched="slide" data-background="static/background1.jpg">
					<section>
						<img src="static/LaserTank.png">
						<h4>Battle Royale</h4>
					</section>
					<section>
						<h1>Credits</h1>
						<table>
							<tr>
								<td>
									<h3>Project Lead</h3>
								</td>
								<td>
									<h3>GUI Lead</h3>
								</td>
							</tr>
							<tr>
								<td>
									Adeepa Rajamanthri
								</td>
								<td>
									Ryan Walton
								</td>
							</tr>
						</table>
					</section>
				</section>
				<section data-auto-animate data-auto-animate-unmatched="slide">
					<style>
						input[type=submit]:hover input[type=submit]:active {
							background-color: #fab700;
    						color: rgb(61, 61, 61);
						} 
					</style>
					<form action="/New-Game" class="nav"><input type="submit" value="New Game"></form>
				</section>
			</div>

		</div>

		<script src="/static/dist/reveal.js"></script>
		<script src="/static/plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				center: true,
				hash: true,
				plugins: [ RevealHighlight ]
			});
		</script>

	</body>
</html>
