<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    
    <form action = "http://localhost:5000" method = "POST">
       <p>Enter Name:</p>
       <p><input type = "text" name = "nm" /></p>
       <p><input type = "submit" value = "submit" name = "submit" /></p>
    </form>
    {% endblock %}
 </body>
</html>