<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

<title>Laser Tanks</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/static/dist/reveal.css">
		<link rel="stylesheet" href="/static/dist/theme/laser.css" id="theme">
		<link rel="stylesheet" href="/static/plugin/highlight/monokai.css">
		<style>{{ style }}</style>
	</head>

	<body>
		<div class="reveal">
			<form method="POST" action="/Setup" class="slides" >
				<section data-auto-animate data-auto-animate-unmatched="slide" data-background="static/background1.jpg">
					<table class="grid"><h2>Game Type</h2>
						<tr>
							<td>
								<label class="container">
									<input type="radio" name="Type" value="FFA" required><h2>Free For All</h2>
								</label>
							</td>
							<td>
								<label class="container">
									<input type="radio" name="Type" value="Elimination"><h2>Elimination</h2>
								</label>
							</td>
						</tr>
						<tr>
						<td>
							<label class="container">
								<input type="radio" name="Type" value="Team"><h2>Team Battle</h2>
							</label>
						</td>
					</tr>
				</table>
			</section>
				<section>
					<h1>Number Of Players</h1>
					<table class="grid">
						<tr>
							<td>
								<label class="container">
									<input type="radio" name="Players" value="1" required><h2>1</h2>
								</label>
							</td>
							<td>
								<label class="container">
									<input type="radio" name="Players" value="2"><h2>2</h2>
								</label>
							</td>
						</tr>
						<tr>
							<td>
								<label class="container">
									<input type="radio" name="Players" value="3"><h2>3</h2>
								</label>
							</td>
							<td>
								<label class="container">
									<input type="radio" name="Players" value="4"><h2>4</h2>
								</label>
							</td>
						</tr>
					</table>
				</section>
				<section data-auto-animate data-auto-animate-unmatched="slide">
					<input type="submit" value="Setup Game">
				</section>
			</form>
		</div>

		<script src="/static/dist/reveal.js"></script>
		<script src="/static/plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				center: true,
				controlsTutorial: true,
				controlsLayout: 'edges',
				history: false,
				hash: false,
				plugins: [ RevealHighlight ]
			});
		</script>

	</body>
</html>
